.action {
	display: flex;
	flex-direction: column;
    align-items: center;
    padding: 15.2rem 1rem 15.6rem;
	&_heading {
		color: #ffffff;
		font-family: 'Proxima Nova';
		font-size: 5.6rem;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: 9rem;
        text-transform: uppercase;
        text-align: center;
	}

	&__content {
		color: #ffffff;
		font-family: 'Proxima Nova';
		font-size: 3.2rem;
		font-weight: 400;
		line-height: 5.6rem;
        text-align: center;
        padding:6.8rem 0 6.2rem ;
	}
}
